@model SalesOrder
@inject Ragnarok.Services.Login.OpenBox _openBox
@{
    ViewData["Title"] = "Box";
    var clientName = "";
    var clientId = 0;

    if (Model.Client != null && Model.Client is ClientJuridical)
    {
        ClientJuridical item = (ClientJuridical)@Model.Client;
        clientName = item.CompanyName;
        clientId = item.Id;
    }
    else if (Model.Client != null && Model.Client is ClientPhysical)
    {
        ClientPhysical item = (ClientPhysical)Model.Client;
        clientName = item.FullName;
        clientId = item.Id;
    }
}

<script type="text/javascript">
    window.onload = function () {
        $('#btn-nav-sidebar-minified').click();
    }
</script>
<div class="container-fluid primary-content">
    <!-- PRIMARY CONTENT HEADING -->
    <div class="primary-content-heading clearfix">
        <h2>CAIXA DE VENDA</h2>
        <ul class="breadcrumb pull-left">
            <li><i class="icon ion-home"></i><a asp-action="Index" asp-controller="Home" asp-area="Employee">Home</a></li>
            <li><a asp-action="Box" asp-controller="Sales" asp-area="Employee">Caixa</a></li>
        </ul>
        <div class="sticky-content pull-right">
            @if (_openBox.GetSaleBox() == null)
            {
                <a asp-action="OpenSaleBox" asp-controller="Sales" asp-area="Employee" type="button" class="btn btn-success btn-sm btn-quick-task"><i class="icon ion-person-add"></i> Abrir Caixa</a>
            }
            else
            {
                <a asp-action="CloseSaleBox" asp-controller="Sales" asp-area="Employee" type="button" class="btn btn-danger btn-sm btn-quick-task"><i class="icon ion-person-add"></i> Fechar Caixa</a>
            }
            <div class="btn-group btn-dropdown">
                <button type="button" class="btn btn-default btn-sm btn-favorites" data-toggle="dropdown"><i class="icon ion-android-star"></i> Favorites</button>
                <ul class="dropdown-menu dropdown-menu-right list-inline">
                    <li><a href="#"><i class="icon ion-pie-graph"></i> <span>Statistics</span></a></li>
                    <li><a href="#"><i class="icon ion-email"></i> <span>Inbox</span></a></li>
                    <li><a href="#"><i class="icon ion-chatboxes"></i> <span>Chat</span></a></li>
                    <li><a href="#"><i class="icon ion-help-circled"></i> <span>Help</span></a></li>
                    <li><a href="#"><i class="icon ion-gear-a"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="icon ion-help-buoy"></i> <span>Support</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    @if (TempData["MSG_S"] != null)
    {
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="icon ion-checkmark-circled"></i>
            <strong>Feito!</strong> @TempData["MSG_S"]
        </div>
    }
    @if (TempData["MSG_E"] != null)
    {
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="icon ion-checkmark-circled"></i>
            <strong>Erro!</strong> @TempData["MSG_E"]
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="invoice-header" style="margin-bottom:-20px;margin-top:-20px">
            <div class="row">
                <div class="col-md-3 col-print-3">
                    <img src="/assets/img/queenadmin-logo.png" class="logo" alt="QueenAdmin Logo" />
                </div>
                <div class="col-md-9 col-print-9">
                    <ul class="list-inline">
                        @if (_openBox.GetSaleBox() != null)
                        {
                            <li>Tempo do Caixa Aberto #: <strong id="setTime">@_openBox.GetSaleBox().OpenTime()</strong></li>
                        }

                        <li>Data: <strong>@DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss")</strong></li>
                        <li>Valor Total: <strong id="totalPagar">R$0.00</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <!-- MASKED INPUT -->
        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-ios-compose-outline"></i> <span>Produto</span></h3>
            </div>
            <div class="widget-content">
                <div class="row">
                    <div class="col-sm-12">
                        <input for="Produto" class="form-control fullCpmpanyName" onkeyup="selectProductStock()" id="selectProductStock" placeholder="Entre com o Código de Barras" />
                        <span class="text-danger span-produtcStock"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <label id="productLabel">Produto selecionado: </label>
                        <input type="hidden" id="product" value="1" />
                    </div>
                    <div class="col-sm-6">
                        <label id="quantityLabel">Quantidade: 1</label>
                        <input type="hidden" id="quantity" value="1" />
                    </div>
                    <div class="col-sm-6">
                        <label for="" id="priceLabel">Preço: </label>
                        <input type="hidden" id="price" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Selecione o Cliente</label>
                                <select name="select2" id="client" class="select2" asp-items="@ViewBag.Client">
                                    <option value="Selecione">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <p class="name" id="companyNameSales">@clientName </p>
                        <input id="selectClient" type="hidden" value="@clientId" />
                        <address id="companyDescriptionSale">
                            @if (Model.Client != null)
                            {
                                if (Model.Client is ClientJuridical)
                                {
                                    ClientJuridical item = (ClientJuridical)Model.Client;
                                    @item.Address.Street @item.Address.Number
                                    <br /><p>@item.Address.Neighborhood ,@item.Address.City @item.Address.City.State.Name</p>
                                    <br />
                                    <div class="contact">
                                        <p><span>Email:</span>@item.Email</p>
                                        <p><span>Phone:</span> @item.Contacts.FirstOrDefault().DDD - @item.Contacts.FirstOrDefault().Number </p>
                                    </div>
                                }
                                else
                                {
                                    ClientPhysical item = (ClientPhysical)Model.Client;
                                    @item.Address.Street @item.Address.Number
                                    <br /><p>@item.Address.Neighborhood ,@item.Address.City.Name @item.Address.City.State.Name</p>
                                    <div class="contact">
                                        <p><span>E-mail:</span>@item.Email</p>
                                        <p><span>Contato:</span> @item.Contacts.FirstOrDefault().DDD - @item.Contacts.FirstOrDefault().Number </p>
                                    </div>
                                }

                            }
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <!-- MASKED INPUT -->
        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-ios-compose-outline"></i> <span>Lista de Compra</span></h3>
            </div>
            <div class="widget-content" style="overflow: auto; height: 355px; flex-direction: column-reverse; display:flex" id="tableinvoice">
                <div class="widget-content">
                    <table class="table table-condensed" id="invoiceBox">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Preço Unid</th>
                                <th>Desconto</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="invoice-footer">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 col-print-4 col-print-offset-2 right-col">
                    <div class="invoice-total">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4 col-print-6 col-print-offset-2">
                                <p>Subtotal</p>
                                <p>Desconto</p>
                                <p>Total</p>
                            </div>
                            <div class="col-xs-4 text-right col-print-4">
                                <p id="resultSubTotal">R$ 0.00</p>
                                <p id="totaldicount">R$ 0.00</p>
                                <p id="resultTotalPayment">R$ 0.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-print-6 left-col">
                    <blockquote class="invoice-notes">
                        <strong>Notes:</strong>
                        <textarea id="noteSales" class="form-control"></textarea>
                    </blockquote>
                </div>
            </div>
            <div class="invoice-buttons" style="margin-top:0px;margin-right:10px">
                <button data-toggle="modal" data-target="#finishSale-modal" class="btn btn-success"><i class="icon ion-ios-arrow-forward"></i> Finalizar Venda</button>
            </div>
        </div>
    </div>
</div>
<!--Insert-->
<div class="modal fade" id="finishSale-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Finalizar Venda</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="task-title" class="control-label sr-only">Title</label>
                        <div class="col-sm-12">
                            <select id="selectPayment" class="form-control">
                                <option>Forma de Pagamento</option>
                                <option value="Money">Dinheiro</option>
                                <option value="Debit">Debito</option>
                                <option value="Credit">Credito</option>
                                <option value="Fiado">Fiado</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div id="money" style="display:none">
                            <div class="col-md-6">
                                <input onkeyup="GetMoney()" id="moneyRecebido" class="form-control" placeholder="Dinheiro recebido" />
                            </div>
                            <div class="col-md-6">
                                <input id="troco" class="form-control" placeholder="Troco" />
                            </div>
                        </div>
                        <div id="fiado" style="display:none">
                            <div class="col-md-6">
                                <label>Data de Pagamento</label>
                                <input id="supposedPaymentDate" class="form-control" type="date" />
                            </div>
                        </div>
                        <div id="credit" style="display:none">
                            <div class="col-md-6">
                                <label>Quantidade de Parcelas</label>
                                <select id="parcels" class="form-control">
                                    <option value="1">1x</option>
                                    <option value="2">2x</option>
                                    <option value="3">3x</option>
                                    <option value="4">4x</option>
                                    <option value="5">5x</option>
                                    <option value="6">6x</option>
                                    <option value="7">7x</option>
                                    <option value="8">8x</option>
                                    <option value="9">9x</option>
                                    <option value="10">10x</option>
                                    <option value="11">11x</option>
                                    <option value="12">12x</option>
                                </select>
                            </div>
                        </div>

                        <div id="divStatusPayment">
                            <div class="col-md-12">
                                <div class="form-horizontal" style="margin-top:15px">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Pago</label>
                                        <div class="col-md-4">
                                            <label class="radio radio-inline radioLeft">
                                                <input name="statusPayment" type="radio" value="PaidOut" id="typePaymentStatus" /> Sim
                                                <span class="text-danger"></span>
                                            </label>
                                            <label class="radio radio-inline" style="float:left">
                                                <input name="statusPayment" type="radio" value="Pending" /> Não
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn btn-success" id="finishSales">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Insert-->
