@model IPagedList<SalesOrder>
@{
    ViewData["Title"] = "Index";
    string numberPerPage = Context.Request.Query["numberPerPage"];

    if (!string.IsNullOrEmpty(numberPerPage))
    {
        numberPerPage = numberPerPage.Replace("{", "").Replace("}", "");
    }

    var search = Context.Request.Query["search"];

    var start = Context.Request.Query["start"];
    var end = Context.Request.Query["end"];
}

<div class="container-fluid primary-content">
    <!-- PRIMARY CONTENT HEADING -->
    <div class="primary-content-heading clearfix">
        <h2>ORDENS DE VENDA</h2>
        <ul class="breadcrumb pull-left">
            <li><i class="icon ion-home"></i><a asp-action="Index" asp-controller="Home" asp-area="Employee">Home</a></li>
            <li><a asp-action="Report" asp-controller="Sales" asp-area="Employee">Ordens de Venda</a></li>
        </ul>
        <div class="sticky-content pull-right">            
            <div class="btn-group btn-dropdown">
                <button type="button" class="btn btn-default btn-sm btn-favorites" data-toggle="dropdown"><i class="icon ion-android-star"></i> Favorites</button>
                <ul class="dropdown-menu dropdown-menu-right list-inline">
                    <li><a href="#"><i class="icon ion-pie-graph"></i> <span>Statistics</span></a></li>
                    <li><a href="#"><i class="icon ion-email"></i> <span>Inbox</span></a></li>
                    <li><a href="#"><i class="icon ion-chatboxes"></i> <span>Chat</span></a></li>
                    <li><a href="#"><i class="icon ion-help-circled"></i> <span>Help</span></a></li>
                    <li><a href="#"><i class="icon ion-gear-a"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="icon ion-help-buoy"></i> <span>Support</span></a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="widget">
        <div class="widget-header clearfix">
            <h3><i class="icon ion-ios-grid-view-outline"></i> <span>LISTA DE TODAS AS VENDAS</span></h3>
        </div>
        <div class="widget-content">
            @if (TempData["MSG_S"] != null)
            {
                <div class="alert alert-success fade in">
                    <button class="close" data-dismiss="alert">&times;</button>
                    <i class="icon ion-checkmark-circled"></i>
                    <strong>Feito!</strong> @TempData["MSG_S"]
                </div>
            }
            @if (TempData["MSG_E"] != null)
            {
                <div class="alert alert-danger fade in">
                    <button class="close" data-dismiss="alert">&times;</button>
                    <i class="icon ion-checkmark-circled"></i>
                    <strong>Erro!</strong> @TempData["MSG_E"]
                </div>
            }
        <div class="table-responsive">
            <form method="get" asp-action="Report" asp-controller="Sales" asp-area="Employee">
                <div class="col-md-12">
                    <div class="row">
                        <div id="reportrange" class="pull-right report-range">
                            <i class="icon ion-calendar"></i>
                            <span class="range-value"></span><b class="caret"></b>
                            <input id="start" type="hidden" name="start" value="@start" />
                            <input id="end" type="hidden" name="end" value="@end" />
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <select class="form-control" name="numberPerPage" id="numberPerPage" asp-for="@numberPerPage">
                                <option value="10">10</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button id="btn-get-salesReport" type="submit" class="btn btn-success btn-sm" style="display:none"></button>
            </form>
            <button id="btnExportSales">Exportar</button>
            <div id="exportSales">
                <table id="datatable-column-interactive" class="table exportSales">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Valor da Venda</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.InsertDate.Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.TotalSales().ToString("F2")</td>
                                <td>
                                    <a asp-action="Details" asp-controller="Sales" asp-area="Employee" asp-route-id="@item.Id"><i class="icon ion-edit"></i> Editar</a>
                                    |
                                    <a asp-action="Remove" asp-controller="Sales" asp-area="Employee" asp-route-id="@item.Id" class="excluir"><i class="icon ion-close"></i> Excluir</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Report", new { page = page, search = search, numberPerPage = numberPerPage, start = start, end = end }))
        </div>
        </div>
    </div>
</div>
