@model EmployeeFormViewModel
@{
    ViewData["Title"] = "Details";    
}

<div class="container-fluid primary-content">
    <!-- PRIMARY CONTENT HEADING -->
    <div class="primary-content-heading clearfix">
        <h2>DETALHES DO FUNCIONÁRIO</h2>
        <ul class="breadcrumb pull-left">
            <li><i class="icon ion-home"></i><a asp-action="Index" asp-controller="Home" asp-area="Employee">Home</a></li>
            <li><a asp-action="Index" asp-controller="Employee" asp-area="Employee">Funcionário</a></li>
            <li><a asp-action="Details" asp-controller="Employee" asp-area="Employee" asp-route-id="@Model.Employee.Id">Detalhes de Funcinário</a></li>
        </ul>
        <div class="sticky-content pull-right">
            <div class="btn-group btn-dropdown">
                <button type="button" class="btn btn-default btn-sm btn-favorites" data-toggle="dropdown"><i class="icon ion-android-star"></i> Favorites</button>
                <ul class="dropdown-menu dropdown-menu-right list-inline">
                    <li><a href="#"><i class="icon ion-pie-graph"></i> <span>Statistics</span></a></li>
                    <li><a href="#"><i class="icon ion-email"></i> <span>Inbox</span></a></li>
                    <li><a href="#"><i class="icon ion-chatboxes"></i> <span>Chat</span></a></li>
                    <li><a href="#"><i class="icon ion-help-circled"></i> <span>Help</span></a></li>
                    <li><a href="#"><i class="icon ion-gear-a"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="icon ion-help-buoy"></i> <span>Support</span></a></li>
                </ul>
            </div>
            
        </div>
        <!-- quick task modal -->
        
    </div>

    @if (TempData["MSG_S"] != null)
    {
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="icon ion-checkmark-circled"></i>
            <strong>Feito!</strong> @TempData["MSG_S"]
        </div>
    }
    @if (TempData["MSG_E"] != null)
    {
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="icon ion-checkmark-circled"></i>
            <strong>Erro!</strong> @TempData["MSG_E"]
        </div>
    }

    <div class="widget">
        <div class="widget-header clearfix">
            <h3><i class="icon ion-ios-person"></i> <span>@Model.Employee.Name</span></h3>
        </div>
        <div class="widget-content">
            <ul class="nav nav-tabs tabs-iconized" role="tablist">
                <li class="active"><a href="#home2" role="tab" data-toggle="tab"><i class="icon ion-person"></i> Principal</a></li>
                <li><a href="#profile2" role="tab" data-toggle="tab"><i class="icon ion-home"></i> Endereço</a></li>
                <li><a href="#settings2" role="tab" data-toggle="tab"><i class="icon ion-gear-b"></i> Autorização de Acesso</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane fade in active" id="home2">
                    <form asp-action="Update" method="post">
                        <input asp-for="Employee.Id" type="hidden" />
                        <input asp-for="Employee.BusinessId" type="hidden" />
                        <input asp-for="Employee.AddressId" type="hidden" />
                        <input asp-for="Employee.PositionNameId" type="hidden" />
                        <input asp-for="Employee.CPF" type="hidden" />
                        <input asp-for="Employee.BirthDay" type="hidden" />

                        <div class="row">
                            <div class="col-sm-5">
                                <label asp-for="Employee.Name"></label>
                                <input asp-for="Employee.Name" type="text" class="form-control" required>
                                <span asp-validation-for="Employee.Name" class="text-danger"></span>
                            </div>
                            <div class="col-sm-3">
                                <label asp-for="Employee.InsertDate"></label>
                                <input asp-for="Employee.InsertDate" type="text" class="form-control" required disabled style="background-color:white">
                                <span asp-validation-for="Employee.InsertDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Employee.CPF"></label>
                                <input asp-for="Employee.CPF" type="text" class="form-control cpf" required disabled style="background-color:white" />
                                <span asp-validation-for="Employee.CPF" class="text-danger"></span>
                            </div>
                            <div class="col-sm-3">
                                <label asp-for="Employee.BirthDay"></label>
                                <input asp-for="Employee.BirthDay" type="text" class="form-control" required disabled style="background-color:white" />
                                <span asp-validation-for="Employee.BirthDay" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="Employee.PositionName.Name">Cargo</label>
                                <select asp-for="Employee.PositionNameId" type="text" class="form-control" asp-items="@ViewBag.PositionName" id="positionNameId" required>
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="Employee.Email"></label>
                                <input asp-for="Employee.Email" type="text" class="form-control" required />
                                <span asp-validation-for="Employee.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-horizontal" style="margin-top:23px">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Ativado</label>
                                        <div class="col-md-10">
                                            <label class="radio radio-inline">
                                                <input asp-for="Employee.Active" type="radio" value="true" required> Ativado
                                                <span asp-validation-for="Employee.Active" class="text-danger"></span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input asp-for="Employee.Active" type="radio" value="false"> Destivado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-horizontal" style="margin-top:23px">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Sexo</label>
                                        <div class="col-md-10">
                                            <label class="radio radio-inline">
                                                <input asp-for="Employee.Sexo" type="radio" value="Masculino" required> Masculino
                                                <span asp-validation-for="Employee.Sexo" class="text-danger"></span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input asp-for="Employee.Sexo" type="radio" value="Feminino"> Feminino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input asp-for="ContactCel.Id" type="hidden">
                            <input asp-for="ContactFixo.Id" type="hidden" />

                            <input asp-for="ContactCel.TypeNumber" value="Celular" type="hidden">
                            <input asp-for="ContactFixo.TypeNumber" value="Residencial" type="hidden" />

                            <input asp-for="ContactCel.InsertDate" type="hidden">
                            <input asp-for="ContactFixo.InsertDate" type="hidden" />

                            <input asp-for="ContactCel.InsertDate" type="hidden">
                            <input asp-for="ContactFixo.InsertDate" type="hidden" />
                            <div class="col-sm-1">
                                <label asp-for="ContactCel.DDD "></label>
                                <input asp-for="ContactCel.DDD" type="tel" class="form-control ddd" required>
                                <span asp-validation-for="ContactCel.DDD" class="text-danger"></span>
                            </div>
                            <div class="col-sm-3">
                                <label asp-for="ContactCel.Number "></label>
                                <input asp-for="ContactCel.Number" type="tel" class="form-control cel" required>
                                <span asp-validation-for="ContactCel.Number" class="text-danger"></span>
                            </div>
                            <div class="col-sm-1">
                                <label asp-for="ContactFixo.DDD"></label>
                                <input asp-for="ContactFixo.DDD" type="tel" class="form-control ddd">
                                <span asp-validation-for="ContactFixo.DDD" class="text-danger"></span>
                            </div>
                            <div class="col-sm-3">
                                <label asp-for="ContactFixo.Number"></label>
                                <input asp-for="ContactFixo.Number" type="tel" class="form-control tel">
                                <span asp-validation-for="ContactFixo.Number" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-5">
                                <button type="submit" class="btn btn-success btn-sm btn-quick-task">Alterar</button>
                                <a asp-action="Index" asp-controller="Employee" asp-area="Employee" type="button" class="btn btn-default btn-sm btn-quick-task"><i class="icon ion-arrow-return-left"></i> Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="profile2">

                    <div class="row">
                        <div class="col-sm-2">
                            <label>Cep</label>
                            <input asp-for="Address.ZipCode" type="text" class="form-control cep" id="zipCode" required />
                            <span class="text-danger span-cep"></span>
                        </div>
                        <div class="col-sm-4">
                            <label>Rua</label>
                            <input asp-for="Address.Street" type="text" class="form-control" id="street" required />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label>Número</label>
                            <input asp-for="Address.Number" type="text" class="form-control" id="number" required />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Referencia</label>
                            <input asp-for="Address.Reference" type="text" class="form-control" id="complement" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label>Complemento</label>
                            <input asp-for="Address.Complement" type="text" class="form-control" id="reference" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Bairro</label>
                            <input asp-for="Address.Neighborhood" type="text" class="form-control" id="neighborhood" required />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <label>Cidade</label>
                            <input asp-for="Address.City.Name" type="text" class="form-control" id="city" required />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label>Estado</label>
                            <input asp-for="Address.City.State.Name" type="text" class="form-control" id="state" required />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-success btn-sm btn-quick-task">Alterar</button>
                            <a asp-action="Index" asp-controller="Employee" asp-area="Employee" type="button" class="btn btn-default btn-sm btn-quick-task"><i class="icon ion-arrow-return-left"></i> Voltar</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings2">
                    <h5>Tab Settings</h5>
                    <p>Dramatically supply adaptive imperatives and stand-alone content. Seamlessly pursue exceptional solutions after web-enabled potentialities. Synergistically negotiate alternative best practices whereas professional "outside the box" thinking. Completely expedite dynamic.</p>
                </div>


            </div>

        </div>


    </div>
</div>

